{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}
{% set res = c.resource %}

{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="icon-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    <h1 style="display:inline;">
      {% block page_heading %}
        {{ pkg.title or pkg.name }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      {% endblock %}
    </h1>

    {% block resources_outer %}
      {% if pkg.resources and not hide_resources %}
        <ul class="dataset-resources unstyled" style="display:inline">
          {% block resources_inner %}
            {% for resource in h.dict_list_reduce(pkg.resources, 'format') %}
            <li>
              <span class="label" data-format="{{ resource.lower() }}">{{ resource }}</span>
            </li>
            {% endfor %}
          {% endblock %}
        </ul>
      {% endif %}
    {% endblock %}

    {% block package_notes %}
      {% if c.pkg_notes_formatted %}
        <div class="notes embedded-content">
          {{ c.pkg_notes_formatted }}
        </div>
      {% endif %}
    {% endblock %}
    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread"></span>
  {% endblock %}

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% block resource_select %}
    <section style="margin-top:20px;">
      {% block resource_actions %}
        <div class="actions" style="top:auto;right:25px;">
          <ul>
            {% block resource_actions_inner %}
              {% if res.url and h.is_url(res.url) %}
                {% if h.check_access('package_update', {'id':pkg.id }) %}
                  <li>{% link_for _('Manage'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
                {% endif %}
                <li>
                  <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
                    {% if res.resource_type in ('listing', 'service') %}
                      <i class="icon-eye-open"></i> {{ _('View') }}
                    {% elif  res.resource_type == 'api' %}
                      <i class="icon-key"></i> {{ _('API Endpoint') }}
                    {% elif not res.has_views or not res.can_be_previewed %}
                      <i class="icon-external-link"></i> {{ _('Go to resource') }}
                    {% else %}
                      <i class="icon-download"></i> {{ _('Download') }}
                    {% endif %}
                  </a>
                </li>
              {% endif %}
              {% if 'datastore' in g.plugins %}
                <li>{% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=c.datastore_api %}</li>
              {% endif %}
            {% endblock %}
          </ul>
        </div>
      {% endblock %}

      {% block resource_list %}
        {% if pkg.resources %}
          <form method="get" data-module="select-switch">
            <select id="resource_dropdown" name="resource_id">
              <option value=""></option>
              {% for resource in pkg.resources %}
                <option value={{ resource.id}}:{{ resource.format.lower() or 'data' }} {% if res.id == resource.id %}selected="selected"{% endif %}>{{ h.resource_display_name(resource) | truncate(50) }}</option>
              {% endfor %}
            </select>
            <button class="btn js-hide" type="submit">{{ _('Go') }}</button>
          </form>
        {% else %}
          {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}
              {% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
                <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
              {% endtrans %}
          {% else %}
              <p class="empty">{{ _('This dataset has no data') }}</p>
          {% endif %}
        {% endif %}
      {% endblock %}
    </section>
  {% endblock %}
  
  {% block resource_content %}
    {% block activity_stream %}
      {{ c.package_activity_stream | safe }}
    {% endblock %}

    {% if res %}
      <div style="width:340px;">
        {% block resource_read_title %}<h3>{{ h.resource_display_name(res) | truncate(50) }}</h3>{% endblock %}
        {% block resource_read_url %}
          {% if res.url and h.is_url(res.url) %}
            <p class="muted ellipsis">{{ _('URL:') }} <a href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
          {% elif res.url %}
            <p class="muted ellipsis">{{ _('URL:') }} {{ res.url }}</p>
          {% endif %}
        {% endblock %}
        <div class="prose notes" property="rdfs:label">
          {% if res.description %}
            {{ h.render_markdown(res.description) }}
          {% else %}
            <p class="empty">このリソースには説明がありません</p>
          {% endif %}
        </div>
      </div>

      {% block resource_additional_info %}
        {% snippet "package/snippets/resource_additional_info.html", pkg=pkg, res=res %}
      {% endblock %}

      {% block data_preview %}
        {% block resource_view %}
          {% block resource_view_nav %}
            {% set resource_preview = h.resource_preview(res, pkg) %}
            {% snippet "package/snippets/resource_views_list.html",
               views=resource_views,
               pkg=pkg,
               is_edit=false,
               view_id=current_resource_view['id'],
               resource_preview=resource_preview,
               resource=c.resource,
               extra_class="nav-tabs-plain"
             %}
          {% endblock %}
          <div class="module-content">
            {% block resource_view_content %}
              <div class="resource-view">
                {% set resource_preview = h.resource_preview(res, pkg) %}
                {% set views_created = res.has_views or resource_preview %}
                {% if views_created %}
                  {% if resource_preview and not current_resource_view %}
                    {{ h.resource_preview(res, pkg) }}
                  {% else %}
                    {% for resource_view in resource_views %}
                      {% if resource_view == current_resource_view %}
                        {% snippet 'package/snippets/resource_view.html',
                           resource_view=resource_view,
                           resource=res,
                           package=pkg
                         %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% else %}
                  {# Views not created #}
                  <div class="module-content data-viewer-info">
                    <p>{{ _("There are no views created for this resource yet.") }}</p>
                    {% if h.check_access('resource_view_create', {'resource_id': res.id}) %}
                      <p class="muted">
                        <i class="icon-info-sign"></i>
                        {{ _("Not seeing the views you were expecting?")}}
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
                          {{ _('Click here for more information.') }}</a>
                      </p>
                      <div id="data-view-info" class="collapse">
                        <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
                        <ul>
                          <li>{{ _("No view has been created that is suitable for this resource")}}</li>
                          <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
                          <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
                        </ul>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            {% endblock %}
          </div>
        {% endblock %}
      {% endblock %}

    {% endif %}
  {% endblock %}

{% endblock %}
